{% extends '_layoutReport.twig' %}

{% block title %}
    {{ dashboard.name }}
{% endblock %}

{% block content %}
    <h2>
        <a href="/">H</a> >
        {{ dashboard.name }}
        <a href="{{ editDashboardUrlPrefix }}{{ dashboard.filename }}" target="_blank" title="Edit">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true" style="font-size:.6em"></span>
        </a>
    </h2>

    {% block dashboardContent %}
    {% endblock %}

    <p>Based on report: <a href="/report/{{ report.baseName }}">{{ report.name }}</a></p>
{% endblock %}
