{% extends '_layoutReport.twig' %}

{% block content %}

    <h2>
        <a href="/">H</a> >
        Reports with entities {% for e in entities %}<code>{{ e }}</code>, {% endfor %} #<code>{{ entityId }}</code>
    </h2>

    <h3>Only with only this entity id parameter</h3>
    <ul>
        {% for r in reports.only %}
            <li>
                <a href="/report/{{ r.report.baseName }}/result?{{ r.parameter.placeholder }}={{ entityId }}">{{ r.report.name }}</a>
            </li>
        {% endfor %}
    </ul>

    <h3>With additional parameters</h3>
    <ul>
        {% for r in reports.rest %}
            <li>
                <a href="/report/{{ r.report.baseName }}?{{ r.parameter.placeholder }}={{ entityId }}">{{ r.report.name }}</a>
            </li>
        {% endfor %}

    </ul>


{% endblock %}
