{% extends '_layout.twig' %}

{% block content %}

    {% if failedReports %}
        <div class="alert alert-warning" role="alert">
            Reports parsing failed:
            <ul>
                {% for report, error in failedReports %}
                    <li><strong>{{ report }}</strong> &mdash; {{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <h2>All reports</h2>

    <ul>
        {% for r in reports %}
            <li>
                <a href="/report/{{ r.baseName }}">
                    {% if r.bold %}
                        <strong>{{ r.name }}</strong>
                    {% else %}
                        {{ r.name }}
                    {% endif %}
                </a>
            </li>
        {% endfor %}

    </ul>

    <h2>All dashboards</h2>

    <ul>
        {% for d in dashboards %}
            <li>
                <a href="/dashboard/{{ d.baseName }}">
                    {% if d.bold %}
                        <strong>{{ d.name }}</strong>
                    {% else %}
                        {{ d.name }}
                    {% endif %}
                </a>
            </li>
        {% endfor %}

    </ul>

{% endblock %}
