<h1>
    Report: {{ report.name }}
</h1>

<p>
    {{ report.description }}
</p>

<h2>Parameters</h2>

<form action="/report/{{ report.baseName }}/result" method="GET">

    {% for p in report.parameters %}
        {{ p.name }}
        <input type="text" name="{{ p.placeholder }}" value="{{ parameters.get(p.placeholder,p.default) }}"/><br/>
    {% endfor %}
    <input type="submit">
</form>

<code>
    {{ report.sql }}
</code>
