{% extends '_layout.twig' %}

{% block content %}

    <h2>
        Report: <code>{{ report.name }}</code>
        <a href="{{ csvUrl }}" title="Download CSV">
            <span class="glyphicon glyphicon-download-alt" aria-hidden="true" style="font-size:.6em"></span>
        </a>
        <a href="{{ editReportUrlPrefix }}{{ report.filename }}" target="_blank" title="Edit">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true" style="font-size:.6em"></span>
        </a>
    </h2>

    <h3>Parameters</h3>
    <p>
        {% for p in report.parameters %}
            {{ p.name }}: {{ result.parameters[p.placeholder] }}<br/>
        {% endfor %}
    </p>

    {% if result.rows %}

        <table class="table-condensed table-bordered" data-toggle="table">
            <thead>
            <tr>
                {% for column in result.columns %}
                    <th data-sortable="true">{{ column.name }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for row in result.rows %}
                <tr>
                    {% for c in result.columns %}
                        <td>
                            {% if c.idOfEntities %}
                                <a href="/by-entity/{{ c.idOfEntities|join(',') }}/{{ row[c.name] }}">{{ row[c.name] }}</a>
                            {% elseif c.chop %}
                                {{ row[c.name]|slice(0, c.chop) }}
                            {% else %}
                                {{ row[c.name] }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}

        <div class="alert alert-warning" role="alert">No rows found</div>

    {% endif %}

    <h3>Legend</h3>

    <p>
        {{ report.description }}
    </p>

    <h3>Raw SQL</h3>
    {{ result.sql|sqlFormatter|raw }}

{% endblock content %}
