{% extends '_layout.twig' %}

{% block content %}

    <h2>Report: <code>{{ report.name }}</code> <a href="{{ csvUrl }}">CSV</a></h2>

    <h3>Parameters</h3>
    <p>
        {% for p in report.parameters %}
            {{ p.name }}: {{ parameters[p.placeholder] }}<br/>
        {% endfor %}
    </p>

    {% if rows %}

        <table class="table-condensed table-bordered" data-toggle="table">
            <thead>
            <tr>
                {% for column, value in rows[0] %}
                    <th data-sortable="true">{{ column }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for row in rows %}
                <tr>
                    {% for k,v in row %}
                        <td>
                            {% if report.columns[k] is defined and report.columns[k].idOfEntities %}
                                <a href="/by-entity/{{ report.columns[k].idOfEntities|join(',') }}/{{ v }}">{{ v }}</a>
                            {% elseif report.columns[k] is defined and report.columns[k].chop %}
                                {{ v|slice(0,report.columns[k].chop) }}
                            {% else %}
                                {{ v }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}

        <div class="alert alert-warning" role="alert">No rows found</div>

    {% endif %}

    <h3>Legend</h3>

    <p>
        {{ report.description }}
    </p>

    <h3>Raw SQL</h3>
    <pre>
    {{ sql }}
</pre>


{% endblock content %}
