<h1>
    Report: {{ report.name }}
</h1>

<h2>Parameters</h2>

{% for p in report.parameters %}
    {{ p.name }}: {{ parameters[p.placeholder] }}<br/>
{% endfor %}

<table>
    <thead>
    <tr>
        {% for column, value in rows[0] %}
            <th>{{ column }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for row in rows %}
        <tr>
            {% for k,v in row %}
                <td>
                    {% if report.columns[k] is defined and report.columns[k].idOfEntity %}
                        <a href="/by-entity/{{ report.columns[k].idOfEntity }}/{{ v }}">{{ v }}</a>
                    {% else %}
                    {{ v }}
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
